<dl>
	<include file="User:usercard"/>
	<dd class="withdrawComment" id="panel{$article.article_id}" aid="{$article.article_id}"  atype="{$article.article_type}"> <i>{:M('User')->getFieldByUserId($uid,'user_nickname')}(您)在{$article.article_type|type_name}上有了新动态</i>  <em>{$article.article_time|time_format}</em>
		<h3>{$article.article_title}</h3>
		<p>{$article.article_content}</p>
		<notempty name="article.article_picture_url">
			<div>
				<img class='img1' width='110px' height='140px' src='{$article.article_picture_url}'/>
			</div>
		</notempty>
		<ul>
			<li class="msgIcon_1 mo clk">关注({$article.focus_number})</li>
			<li class="msgIcon_2 mo clk">收藏{$article.collect_number}</li>
			<li class="msgIcon_3 mo clk">赞({$article.article_up_number})</li>
			<li class="msgIcon_4 mo clk">踩({$article.article_down_number})</li>
			<li class="msgIcon_5 mo clk flip" aid="{$article.article_id}"  onclick="response(this)">评论({$article.article_comment_number})</li>
			<li class="msgIcon_6 mo clk">分享</li>
			<php>if(edit_verify($article.article_id)) echo "<li class='msgIcon_6 mo clk'>删除</li>";</php>
		</ul>
		<include file="Home/Public/commentList.html"/>
	</dd>
</dl>