<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>先生汇 - 孵化器库</title>
<link href="__ROOT__/Public/Css/normal.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__ROOT__/Public/Js/jquery-1.10.2.js"><!-- 替换成其他版本可能会有问题 --></script>
<script type="text/javascript" src="__ROOT__/Public/Js/normal.js"></script>
<script type="text/javascript">
$(function(){
	$(".mainListMenu a").eq(4).addClass("sel");
});
</script>
<style>

</style>
</head>
<body>
<div class="top">
	<div class="topBox">
		<a class="logo" href="###"><img src="__ROOT__/Public/Img/logo.gif" /></a>
		<span class="searchInput rs"><input type="text" value="搜索话题、问题或人..." /></span>
		<input class="searchButton rs" type="button" value="提问" />
		<ul>
			<li><a href="###">先升汇</a></li><li>|</li><li><a href="###">爱创圈</a></li><li>|</li>
			<li><a href="###">政策</a></li><li>|</li><li><a href="###">消息</a></li>
		</ul>
		<a class="userImg"><img src="__ROOT__/Public/Img/userImg.gif" /></a>
	</div>
</div>
<div class="main">
	<div class="mainListMenu">
		<ul>
			<li><a class="mlmIcon_1" href="home.html">创意汇</a></li>
			<li><a class="mlmIcon_2" href="###">时光机</a></li>
			<li><a class="mlmIcon_3" href="project.html">项目库</a></li>
			<li><a class="mlmIcon_4" href="invest.html">投资人库</a></li>
			<li><a class="mlmIcon_5" href="hatch.html">孵化器库</a></li>
			<li><a class="mlmIcon_6" href="qa.html">问答</a></li>
			<li><a class="mlmIcon_7" href="###">专栏</a></li>
			<li><a class="mlmIcon_8" href="###">我的关注</a></li>
			<li><a class="mlmIcon_9" href="###">我的收藏</a></li>
		</ul>
	</div>
	<div class="mainCon">
		<div class="mainConCenter">
			<div class="space"></div><div class="space"></div>
			<style>
			.hatchList li{ overflow:hidden; position:relative; z-index:100; margin:0px 0px 0px 40px; padding:15px 0px 30px 0px; border-bottom:solid 1px #BBB;}
			.hatchList img{ position:absolute; z-index:120; top:20px; left:0px;}
			.hatchList a{ display:block; font-size:14px; font-weight:bold; line-height:20px; padding:10px 0px 10px 90px; color:#196790;}
			.hatchList a:hover{ color:#48c9b0;}
			.hatchList p{ color:#777; line-height:22px; padding:0px 130px 0px 90px;}
			.hatchList i{ display:block; position:absolute; z-index:130; bottom:30px; right:0px; color:#BBB; line-height:18px;}
			</style>
			<ul class="hatchList">
				<li>
					<img width="70" height="90" src="__ROOT__/Public/Img/msgUserImg_1.png" />
					<a href="###">好企业</a>
					<p>给予产品的创业投资，理财顾问方面的创业企业理财顾问方面的创业企业理财顾问方面的创业企业。为客户打造全方位的理财顾问，精心呵护投资人您的金钱。</p>
					<i>好友数量：165<br />粉丝数量：353</i>
				</li>
				<li>
					<img width="70" height="90" src="__ROOT__/Public/Img/msgUserImg_1.png" />
					<a href="###">好企业</a>
					<p>给予产品的创业投资，理财顾问方面的创业企业。为客户打造全方位的理财顾问，精心呵护投资人您的金钱。</p>
					<i>好友数量：165<br />粉丝数量：353</i>
				</li>
				<li>
					<img width="70" height="90" src="__ROOT__/Public/Img/msgUserImg_1.png" />
					<a href="###">好企业</a>
					<p>给予产品的创业投资，理财顾问方面的创业企业。为客户打造全方位的理财顾问，精心呵护投资人您的金钱。</p>
					<i>好友数量：165<br />粉丝数量：353</i>
				</li>
				<li>
					<img width="70" height="90" src="__ROOT__/Public/Img/msgUserImg_1.png" />
					<a href="###">好企业</a>
					<p>给予产品的创业投资，理财顾问方面的创业企业。为客户打造全方位的理财顾问，精心呵护投资人您的金钱。</p>
					<i>好友数量：165<br />粉丝数量：353</i>
				</li>
			</ul>
		</div>
		<div class="mainConRight">
			<dl class="recommendUser">
				<dt>好友</dt>
				<dd>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_1.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_2.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_3.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_4.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_5.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_6.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_1.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_2.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_3.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_4.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_5.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_6.png" /></a>
				</dd>
			</dl>
			<dl class="recommendUser">
				<dt>粉丝</dt>
				<dd>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_1.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_2.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_3.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_4.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_5.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_6.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_1.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_2.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_3.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_4.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_5.png" /></a>
					<a href="###"><img src="__ROOT__/Public/Img/testUserImg_6.png" /></a>
				</dd>
			</dl>
		</div>
	</div>
</div>
</body>
</html>
