<div class="col-md-2 col-sm-4 col-xs-10">
    <a><img id="user_Img" title="点击修改头像" src="{$user.user_avatar_url|default=random_img()}" class="thumbnail userphoto" style="width:100%" onclick="openBrowse()"/></a>
    <IF condition="$isself">
        <div id="uploadPhoto" style="display:none">
            <form method="post" enctype="multipart/form-data" action="{:U('User/uploadPhoto')}" >
                <input id="photo" type="file" name="photo" onChange="PreviewImage(this)" style="display:none" size="1" hidefocus/>
                <span class="glyphicon glyphicon-check"><input  type="submit" class="glyphicon glyphicon-check" value="保存"/>
                </span>
            </form>
        </div>

        <script type="text/javascript">
        $('').style
$(".userphoto").click(function(){
$("#uploadPhoto").show();
});
    function openBrowse(){ 
        var ie=navigator.appName=="Microsoft Internet Explorer" ? true : false; 
        if(ie){ 
        document.getElementById("photo").click(); 
        }else{
        var a=document.createEvent("MouseEvents");//FF的处理 
        a.initEvent("click", true, true);  
        document.getElementById("photo").dispatchEvent(a); 
        } 
    } 
    function PreviewImage(imgFile)
     {  
        var filextension=imgFile.value.substring(imgFile.value.lastIndexOf("."),imgFile.value.length);
        filextension=filextension.toLowerCase();
        if ((filextension!='.jpg')&&(filextension!='.gif')&&(filextension!='.jpeg')&&(filextension!='.png')&&(filextension!='.bmp'))
        {
            alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
            imgFile.focus();
        }
        else
        {
            var path;
            if(document.all)//IE
            {
                imgFile.select();
                path = document.selection.createRange().text;
                document.getElementById("user_Img").innerHTML="";
                document.getElementById("user_Img").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";//使用滤镜效果      
            }
            else//FF
            {
                path=window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                //path = imgFile.files[0].getAsDataURL();// FF 3.0
                document.getElementById("user_Img").setAttribute('src',path);

                            }
        }
 }
 </script>
    </IF>
</div>